.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  align-items: center;
  border-bottom: 1px solid rgb(32, 32, 32);
  padding-bottom: 20px;
  background-color: black;
}
.nav__column {
  display: flex;
  width: 85%;
}
.nav__column:first-child {
  width: 100%;
}
.nav__firstrow {
  width: 33.3%;
  margin: 3vh 0;
  align-items: center;
  font-weight: 400;
  font-size: larger;
}
.nav__li:nth-child(3) {
  color: white;
}
.nav__firstrow:first-child,
.nav__firstrow:last-child {
  color: white;
}
.fa-search {
  margin-right: 2vh;
}
.nav__firstrow a {
  margin: 0 2vh;
}
.fa-play {
  margin-right: 1vh;
}
.nav__li {
  margin: 0 1.8vh;
}

.nav__firstrow:nth-child(2) {
  display: flex;
  justify-content: center;
}
.nav__firstrow:last-child {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}
.name__link img {
  width: 4vh;
  border-radius: 50%;
}

.nav__ul {
  display: flex;
  align-items: center;
}
.nav__column:nth-child(2) {
  border-bottom: 0.1px solid rgb(75, 73, 73);
}
.nav__sort {
  margin-right: 3vh;
  padding: 2.5vh 0;
}
.nav__sort:first-child {
  color: white;
  font-weight: 500;
  border-bottom: 2px solid white;
}
.nav__column:last-child a {
  display: flex;
  margin-top: 3vh;
  height: 22px;
  width: 80px;
  align-items: center;
  font-size: 15px;
  padding: 8px 10px;
  border: 1px solid grey;
  border-radius: 20px;
  color: white;
  background-color: rgb(24, 24, 24);
}

.fa-chevron-down {
  margin-left: 5px;
}
